@import "../../assets/styles/setup/setup";
.project-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000070;
    opacity: 0.5;
    top: 0;
    right: 0;
  }
}

.link-header {
  &:hover {
    text-decoration: underline;
  }
}
