// Colors
$clr1: #e3e2e2ff;
$clr2: #eb8f30;
$clr3: #8d2933ff;
$clr4: #222222ff;
$clr5: #ffff;
$clr6: #d04158;
$clr7: #ffc843;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$small-desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$wide-desktop-breakpoint: 1440px;
